*{
    box-sizing: border-box;
}

body{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    
}
.accordionTitle{
    display: flex;
    justify-content: space-between;
    
}

.accordionTitle p{
    font-size: 20px;
    color: blue;
    letter-spacing: 2px;
    font-weight: bolder;
}




.accordions{
    justify-content: center;
}
.accordion{
   
    width: 602px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 20px;
   
    overflow: hidden;
    align-items: center;
   
    padding: 16px;
    font-style: italic;
    justify-content: center;
    margin-bottom: 30px;
}

.active{
    display: none;
}

.accordionButton{
    border: none;
    background-color: none;
    color: blue;
    font-size: large;
    background: none;
    cursor: pointer;
}

.AccordionText{

    font-size: 15px;
    border-top: 1px solid black;
    padding: 20px 0px;
}
